<ion-tabs>
    <ion-tab-bar slot="bottom" color="light">

        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mascotas">
            <ion-icon name="paw"></ion-icon>
            <ion-label>Mascotas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="veterinarias">
            <ion-icon name="location"></ion-icon>
            <ion-label>Veterinarias</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ofertas">
            <ion-icon name="pricetag"></ion-icon>
            <ion-label>Ofertas</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>