<ion-app>
  <ion-header>
    <ion-toolbar color="primary">

      <ion-title>
        <img src="/assets/images/kuichi_logo.png" alt="Kuichi" class="navbar-logo">
      </ion-title>

      <ion-buttons slot="end">

        <ion-button routerLink="/home" title="Inicio">
          <ion-icon name="home-outline" slot="icon-only" class="nav-icon"></ion-icon>
        </ion-button>

        <ng-container *ngIf="isAuth">

          <ion-button routerLink="/mascotas" title="Mis Mascotas">
            <ion-icon name="paw-outline" slot="icon-only" class="nav-icon"></ion-icon>
          </ion-button>

          <ion-button routerLink="/ofertas" title="Ofertas">
            <ion-icon name="pricetag-outline" slot="icon-only" class="nav-icon"></ion-icon>
          </ion-button>

          <ion-button (click)="logout()" title="Cerrar Sesión">
            <ion-icon name="log-out-outline" slot="icon-only" class="logout-icon"></ion-icon>
          </ion-button>

        </ng-container>

        <ng-container *ngIf="!isAuth">
          <ion-button routerLink="/login" title="Iniciar Sesión">
            <ion-icon name="log-in-outline" slot="icon-only" class="nav-icon"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>
</ion-app>