<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Kuichi</ion-title>

      <ion-buttons slot="end">
        <!-- Botón Inicio 🏠 -->
        <ion-button routerLink="/home" color="light">
          🏠
        </ion-button>

        <!-- Botones si está autenticada -->
        <ng-container *ngIf="isAuth">
          <ion-button routerLink="/mascotas" color="light">
            🐾
          </ion-button>

          <ion-button routerLink="/ofertas" color="light">
            💸
          </ion-button>

          <ion-button (click)="logout()" color="light">
            🚪
          </ion-button>
        </ng-container>

        <!-- Botón login si no está autenticada -->
        <ng-container *ngIf="!isAuth">
          <ion-button routerLink="/home" color="light">
            🔐
          </ion-button>
        </ng-container>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
